<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rulai_cell-biaoqing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,147},{95,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,112}}</string>
                <key>sourceSize</key>
                <string>{95,112}</string>
            </dict>
            <key>rulai_cell-biaoqing_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,261},{96,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,112}}</string>
                <key>sourceSize</key>
                <string>{96,112}</string>
            </dict>
            <key>rulai_cell-biaoqing_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,252},{96,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,112}}</string>
                <key>sourceSize</key>
                <string>{96,112}</string>
            </dict>
            <key>rulai_cell-biaoqing_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,147},{96,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,112}}</string>
                <key>sourceSize</key>
                <string>{96,112}</string>
            </dict>
            <key>rulai_cell-biaoqing_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,359},{96,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,113}}</string>
                <key>sourceSize</key>
                <string>{96,113}</string>
            </dict>
            <key>rulai_cell-dabi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,471},{38,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,71}}</string>
                <key>sourceSize</key>
                <string>{38,71}</string>
            </dict>
            <key>rulai_cell-diying_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,357},{96,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,33}}</string>
                <key>sourceSize</key>
                <string>{96,33}</string>
            </dict>
            <key>rulai_cell-faqi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,2},{242,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,248}}</string>
                <key>sourceSize</key>
                <string>{242,248}</string>
            </dict>
            <key>rulai_cell-faqi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{255,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,293}}</string>
                <key>sourceSize</key>
                <string>{255,293}</string>
            </dict>
            <key>rulai_cell-fuoyin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,347},{7,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,16}}</string>
                <key>sourceSize</key>
                <string>{7,16}</string>
            </dict>
            <key>rulai_cell-fuoyin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,332},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>rulai_cell-jd3298_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,332},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>rulai_cell-lianzuo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{193,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,73}}</string>
                <key>sourceSize</key>
                <string>{193,73}</string>
            </dict>
            <key>rulai_cell-pilian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,453},{72,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,55}}</string>
                <key>sourceSize</key>
                <string>{72,55}</string>
            </dict>
            <key>rulai_cell-shenti_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,140},{86,116}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{86,116}}</string>
                <key>sourceSize</key>
                <string>{88,116}</string>
            </dict>
            <key>rulai_cell-shizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,462},{44,44}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>rulai_cell-shou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,469},{29,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,45}}</string>
                <key>sourceSize</key>
                <string>{29,45}</string>
            </dict>
            <key>rulai_cell-shou_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,455},{27,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,51}}</string>
                <key>sourceSize</key>
                <string>{27,51}</string>
            </dict>
            <key>rulai_cell-sprite 96t.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,462},{37,44}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{37,44}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>rulai_cell-tui_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,2},{138,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,55}}</string>
                <key>sourceSize</key>
                <string>{138,55}</string>
            </dict>
            <key>rulai_cell-xiaobi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,297},{33,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,59}}</string>
                <key>sourceSize</key>
                <string>{33,59}</string>
            </dict>
            <key>rulai_cell-xiaobi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,455},{23,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,50}}</string>
                <key>sourceSize</key>
                <string>{23,50}</string>
            </dict>
            <key>rulai_cell-xiuzi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,258},{44,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,72}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>rulai_cell-xiuzi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,443},{32,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,57}}</string>
                <key>sourceSize</key>
                <string>{32,57}</string>
            </dict>
            <key>rulai_cell-xiuzi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,457},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>rulai_cell-yifu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,142},{110,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,73}}</string>
                <key>sourceSize</key>
                <string>{110,73}</string>
            </dict>
            <key>rulai_cell-yifu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,254},{62,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,73}}</string>
                <key>sourceSize</key>
                <string>{62,73}</string>
            </dict>
            <key>rulai_cell-yifu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,372},{85,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,97}}</string>
                <key>sourceSize</key>
                <string>{85,97}</string>
            </dict>
            <key>rulai_cell-yifu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{38,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,96}}</string>
                <key>sourceSize</key>
                <string>{38,96}</string>
            </dict>
            <key>rulai_cell-yifu_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,471},{38,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,52}}</string>
                <key>sourceSize</key>
                <string>{38,52}</string>
            </dict>
            <key>rulai_cell-yiling_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,462},{33,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,44}}</string>
                <key>sourceSize</key>
                <string>{33,44}</string>
            </dict>
            <key>rulai_cell-yiling_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,442},{25,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,56}}</string>
                <key>sourceSize</key>
                <string>{25,56}</string>
            </dict>
            <key>rulai_png-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,2},{94,136}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,136}}</string>
                <key>sourceSize</key>
                <string>{98,140}</string>
            </dict>
            <key>rulai_png-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,252},{93,135}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,135}}</string>
                <key>sourceSize</key>
                <string>{99,139}</string>
            </dict>
            <key>rulai_png-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,366},{94,129}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{94,129}}</string>
                <key>sourceSize</key>
                <string>{98,135}</string>
            </dict>
            <key>rulai_png-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{93,138}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,138}}</string>
                <key>sourceSize</key>
                <string>{99,142}</string>
            </dict>
            <key>rulai_png-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{97,143}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{97,143}}</string>
                <key>sourceSize</key>
                <string>{99,147}</string>
            </dict>
            <key>rulai_png-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{97,139}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{97,139}}</string>
                <key>sourceSize</key>
                <string>{99,143}</string>
            </dict>
            <key>rulai_png-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,347},{94,135}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,135}}</string>
                <key>sourceSize</key>
                <string>{96,139}</string>
            </dict>
            <key>rulai_png-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,261},{94,130}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,130}}</string>
                <key>sourceSize</key>
                <string>{98,134}</string>
            </dict>
            <key>rulai_png-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,357},{94,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,112}}</string>
                <key>sourceSize</key>
                <string>{96,114}</string>
            </dict>
            <key>rulai_png-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,332},{82,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{82,108}}</string>
                <key>sourceSize</key>
                <string>{86,114}</string>
            </dict>
            <key>rulai_png-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,443},{56,98}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{56,98}}</string>
                <key>sourceSize</key>
                <string>{60,110}</string>
            </dict>
            <key>rulai_png-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,457},{36,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{36,74}}</string>
                <key>sourceSize</key>
                <string>{38,80}</string>
            </dict>
            <key>rulai_png-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,442},{24,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{24,49}}</string>
                <key>sourceSize</key>
                <string>{28,53}</string>
            </dict>
            <key>rulai_png-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,318},{12,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{12,31}}</string>
                <key>sourceSize</key>
                <string>{14,33}</string>
            </dict>
            <key>rulai_png-31.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,495},{10,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{10,14}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_7441.png</string>
            <key>size</key>
            <string>{861,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfcff8de1a2b103310fc23d44973656d$</string>
            <key>textureFileName</key>
            <string>hero_7441.png</string>
        </dict>
    </dict>
</plist>
