<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Icon_Hero_Head_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,422},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,422},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,632},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,527},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,422},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,317},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,317},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,317},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,632},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,527},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0311.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,422},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0312.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,317},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0316.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,212},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0317.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,212},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0321.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,212},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0322.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,212},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0326.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,632},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0327.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,527},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0331.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,422},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0332.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,317},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0336.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,212},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0337.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,107},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0341.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,107},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0342.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,107},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0346.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,107},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0347.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,107},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0351.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,632},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0352.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,527},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0356.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,422},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0357.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,317},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0361.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,212},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0362.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,107},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0366.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0367.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,2},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0371.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0372.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,2},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0801.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0806.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0811.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,632},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0816.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,527},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0821.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,422},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0826.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,317},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0831.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,212},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0836.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,107},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0841.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0846.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,632},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0851.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,527},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0856.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,422},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0861.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,317},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0866.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,212},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0871.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,107},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0876.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0881.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0886.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,527},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0891.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0896.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0901.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0906.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_0911.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Hero_Head_12.png</string>
            <key>size</key>
            <string>{947,737}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc593791eee98c7e163c7fc046dcee6b$</string>
            <key>textureFileName</key>
            <string>Hero_Head_12.png</string>
        </dict>
    </dict>
</plist>
