<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Icon_Hero_Head_5501.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,842},{103,101}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{103,101}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_5505.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,527},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_5581.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,527},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_5585.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,527},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_5601.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_5605.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,737},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_5621.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_5625.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,632},{101,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{101,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_5641.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,632},{99,103}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{99,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_5645.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,527},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_5661.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,732},{89,103}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{89,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_5665.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,632},{89,103}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{89,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_5681.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,422},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_5685.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,422},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_7461.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,422},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_7464.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_7481.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,317},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_7484.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,317},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_7501.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,317},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_7504.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_7521.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,737},{103,101}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{103,101}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_7524.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,212},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_7541.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,212},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_7544.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,212},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_7561.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_7564.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,107},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_7581.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,107},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_7584.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,107},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_7601.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_7604.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_7621.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,632},{98,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,103}}</string>
                <key>sourceSize</key>
                <string>{98,103}</string>
            </dict>
            <key>Icon_Hero_Head_7624.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_7641.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Icon_Hero_Head_7644.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Hero_Head_56_01.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:956623b5ae424c4ae54ec208fa4f505d$</string>
            <key>textureFileName</key>
            <string>Hero_Head_56_01.png</string>
        </dict>
    </dict>
</plist>
