<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>chaojixiyou_effect_yingxiong-effect_47.png</key>
			<dict>
				<key>width</key>
				<integer>392</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>392</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chaojixiyou_effect_yingxiong-effect_48.png</key>
			<dict>
				<key>width</key>
				<integer>388</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>388</integer>
				<key>originalHeight</key>
				<integer>102</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>94</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chaojixiyou_effect_yingxiong-effect_49.png</key>
			<dict>
				<key>width</key>
				<integer>397</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>397</integer>
				<key>originalHeight</key>
				<integer>109</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>197</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chaojixiyou_effect_yingxiong-effect_50.png</key>
			<dict>
				<key>width</key>
				<integer>386</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>386</integer>
				<key>originalHeight</key>
				<integer>102</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>307</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chaojixiyou_effect_yingxiong-effect_25.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>310</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>310</integer>
				<key>x</key>
				<integer>398</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chaojixiyou_effect_yingxiong-effect_24.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>310</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>310</integer>
				<key>x</key>
				<integer>427</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chaojixiyou_effect_yingxiong-effect_23.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>310</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>310</integer>
				<key>x</key>
				<integer>456</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>ui_GetHero_065.png</string>
			<key>realTextureFileName</key>
			<string>ui_GetHero_065.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>