<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>chiyouboss_buff-effect14.png</key>
			<dict>
				<key>width</key>
				<integer>224</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>224</integer>
				<key>originalHeight</key>
				<integer>94</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chiyouboss_buff-2.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>231</integer>
				<key>originalWidth</key>
				<integer>142</integer>
				<key>originalHeight</key>
				<integer>231</integer>
				<key>x</key>
				<integer>225</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chiyouboss_buff-5.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>223</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>223</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>95</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chiyouboss_buff-6.png</key>
			<dict>
				<key>width</key>
				<integer>148</integer>
				<key>height</key>
				<integer>231</integer>
				<key>originalWidth</key>
				<integer>148</integer>
				<key>originalHeight</key>
				<integer>231</integer>
				<key>x</key>
				<integer>150</integer>
				<key>y</key>
				<integer>232</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chiyouboss_buff-7.png</key>
			<dict>
				<key>width</key>
				<integer>153</integer>
				<key>height</key>
				<integer>238</integer>
				<key>originalWidth</key>
				<integer>153</integer>
				<key>originalHeight</key>
				<integer>238</integer>
				<key>x</key>
				<integer>299</integer>
				<key>y</key>
				<integer>232</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>eff_output_boss01_buff0.png</string>
			<key>realTextureFileName</key>
			<string>eff_output_boss01_buff0.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>