<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xy_res/ui/ui_res/Anniu_Bangpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,354},{82,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,80}</string>
            </dict>
            <key>xy_res/ui/ui_res/Anniu_Bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,888},{122,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,80}}</string>
                <key>sourceSize</key>
                <string>{122,80}</string>
            </dict>
            <key>xy_res/ui/ui_res/Anniu_Gai.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,581},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>xy_res/ui/ui_res/Anniu_Heng_Fenye_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,767},{138,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,60}}</string>
                <key>sourceSize</key>
                <string>{138,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/Anniu_Heng_Fenye_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,627},{138,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,60}}</string>
                <key>sourceSize</key>
                <string>{138,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/Anniu_Heng_Fenye_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,238},{138,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,60}}</string>
                <key>sourceSize</key>
                <string>{138,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/Anniu_Yingxiong_Weixuanzhong_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,623},{112,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,56}}</string>
                <key>sourceSize</key>
                <string>{112,56}</string>
            </dict>
            <key>xy_res/ui/ui_res/Anniu_Yingxiong_Xiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,872},{112,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,56}}</string>
                <key>sourceSize</key>
                <string>{112,56}</string>
            </dict>
            <key>xy_res/ui/ui_res/Bangpai_Jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,300},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>xy_res/ui/ui_res/Bangpai_Jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,300},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>xy_res/ui/ui_res/Bangpai_Max.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,929},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Combat_Over.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,128},{130,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,108}}</string>
                <key>sourceSize</key>
                <string>{130,108}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Combat_Over_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,878},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,28}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Combat_Over_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,507},{44,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,26}}</string>
                <key>sourceSize</key>
                <string>{44,26}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Combat_Over_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,348},{44,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,26}}</string>
                <key>sourceSize</key>
                <string>{44,26}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Combat_Over_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,954},{106,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,32}}</string>
                <key>sourceSize</key>
                <string>{106,32}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Combat_Over_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,518},{61,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,33}}</string>
                <key>sourceSize</key>
                <string>{61,33}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Combat_Over_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,444},{61,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,33}}</string>
                <key>sourceSize</key>
                <string>{61,33}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Combat_Over_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,382},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Combat_Over_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,300},{46,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,26}}</string>
                <key>sourceSize</key>
                <string>{46,26}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_EveninPop.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,744},{126,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,80}}</string>
                <key>sourceSize</key>
                <string>{126,80}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Sign_Close.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,436},{110,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,80}}</string>
                <key>sourceSize</key>
                <string>{110,80}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Sign_Close_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,695},{28,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,40}}</string>
                <key>sourceSize</key>
                <string>{28,40}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Sign_Close_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,634},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Sign_Close_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,943},{41,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{41,39}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Zise.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,815},{186,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,68}}</string>
                <key>sourceSize</key>
                <string>{186,68}</string>
            </dict>
            <key>xy_res/ui/ui_res/General_Button_Tips_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,615},{127,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,90}}</string>
                <key>sourceSize</key>
                <string>{127,90}</string>
            </dict>
            <key>xy_res/ui/ui_res/General_Button_Tips_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,421},{127,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,90}}</string>
                <key>sourceSize</key>
                <string>{127,90}</string>
            </dict>
            <key>xy_res/ui/ui_res/General_Icon_Slider_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,394},{50,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>xy_res/ui/ui_res/Hero_Button_Luck_Paging_Enter_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,141},{168,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,52}}</string>
                <key>sourceSize</key>
                <string>{168,52}</string>
            </dict>
            <key>xy_res/ui/ui_res/Hero_Button_Luck_Paging_Enter_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,752},{134,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,52}}</string>
                <key>sourceSize</key>
                <string>{134,52}</string>
            </dict>
            <key>xy_res/ui/ui_res/Hero_Button_Luck_Paging_Normal_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,74},{168,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,52}}</string>
                <key>sourceSize</key>
                <string>{168,52}</string>
            </dict>
            <key>xy_res/ui/ui_res/Hero_Button_Luck_Paging_Normal_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,616},{134,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,52}}</string>
                <key>sourceSize</key>
                <string>{134,52}</string>
            </dict>
            <key>xy_res/ui/ui_res/Hero_Button_Short_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,94},{182,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,70}}</string>
                <key>sourceSize</key>
                <string>{182,70}</string>
            </dict>
            <key>xy_res/ui/ui_res/Hero_Button_Short_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,2},{182,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,70}}</string>
                <key>sourceSize</key>
                <string>{182,70}</string>
            </dict>
            <key>xy_res/ui/ui_res/Hero_Button_Short_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>xy_res/ui/ui_res/Hero_Button_Short_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{182,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,90}}</string>
                <key>sourceSize</key>
                <string>{182,90}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,513},{120,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,100}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>xy_res/ui/ui_res/Jinbi_Shangdian_Jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,744},{112,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,74}}</string>
                <key>sourceSize</key>
                <string>{112,74}</string>
            </dict>
            <key>xy_res/ui/ui_res/Level_Arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,907},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/Moshen_Jianli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,627},{186,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,68}}</string>
                <key>sourceSize</key>
                <string>{186,68}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,634},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,572},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,816},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,754},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,510},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,510},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,448},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,692},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,630},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,881},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,881},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,819},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,757},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,943},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,881},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,943},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,943},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,881},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,819},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,819},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,757},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,695},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,757},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,695},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,633},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,633},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,568},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,571},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,506},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,509},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,448},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,444},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/Paihangbang_Anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,166},{186,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,67}}</string>
                <key>sourceSize</key>
                <string>{186,67}</string>
            </dict>
            <key>xy_res/ui/ui_res/Paihangbang_Anniu_Liang.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,166},{186,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,67}}</string>
                <key>sourceSize</key>
                <string>{186,67}</string>
            </dict>
            <key>xy_res/ui/ui_res/Paihangbang_Fenye.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,166},{186,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,67}}</string>
                <key>sourceSize</key>
                <string>{186,67}</string>
            </dict>
            <key>xy_res/ui/ui_res/Paihangbang_Fenye_Liang.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,72},{186,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,67}}</string>
                <key>sourceSize</key>
                <string>{186,67}</string>
            </dict>
            <key>xy_res/ui/ui_res/Sheli_Shangdian_Jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,623},{112,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,74}}</string>
                <key>sourceSize</key>
                <string>{112,74}</string>
            </dict>
            <key>xy_res/ui/ui_res/Tankuang_Fenye_Anxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,141},{188,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,65}}</string>
                <key>sourceSize</key>
                <string>{188,65}</string>
            </dict>
            <key>xy_res/ui/ui_res/Tankuang_Fenye_Anxia_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,501},{113,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,65}}</string>
                <key>sourceSize</key>
                <string>{113,65}</string>
            </dict>
            <key>xy_res/ui/ui_res/Tankuang_Fenye_Anxia_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,354},{142,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,65}}</string>
                <key>sourceSize</key>
                <string>{142,65}</string>
            </dict>
            <key>xy_res/ui/ui_res/Tankuang_Fenye_Zhengchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,196},{188,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,65}}</string>
                <key>sourceSize</key>
                <string>{188,65}</string>
            </dict>
            <key>xy_res/ui/ui_res/Tankuang_Fenye_Zhengchang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,386},{113,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,65}}</string>
                <key>sourceSize</key>
                <string>{113,65}</string>
            </dict>
            <key>xy_res/ui/ui_res/Tankuang_Fenye_Zhengchang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,141},{142,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,65}}</string>
                <key>sourceSize</key>
                <string>{142,65}</string>
            </dict>
            <key>xy_res/ui/ui_res/Tishi_Goumai_Suipian_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,311},{107,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,37}}</string>
                <key>sourceSize</key>
                <string>{107,37}</string>
            </dict>
            <key>xy_res/ui/ui_res/Wenhao_Anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,382},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/Yuanshen_Xiulian_Anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{186,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,68}}</string>
                <key>sourceSize</key>
                <string>{186,68}</string>
            </dict>
            <key>xy_res/ui/ui_res/Zhanbai_Yindao_Tubiao_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,331},{94,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,86}}</string>
                <key>sourceSize</key>
                <string>{94,86}</string>
            </dict>
            <key>xy_res/ui/ui_res/Zhanbai_Yindao_Tubiao_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,833},{94,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,86}}</string>
                <key>sourceSize</key>
                <string>{94,86}</string>
            </dict>
            <key>xy_res/ui/ui_res/Zhanbai_Yindao_Tubiao_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,858},{94,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,86}}</string>
                <key>sourceSize</key>
                <string>{94,86}</string>
            </dict>
            <key>xy_res/ui/ui_res/Zhanbai_Yindao_Tubiao_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,737},{94,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,86}}</string>
                <key>sourceSize</key>
                <string>{94,86}</string>
            </dict>
            <key>xy_res/ui/ui_res/Zhuye_Anniu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,518},{105,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,103}}</string>
                <key>sourceSize</key>
                <string>{105,103}</string>
            </dict>
            <key>xy_res/ui/ui_res/Zhuye_Anniu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{245,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,93}}</string>
                <key>sourceSize</key>
                <string>{245,93}</string>
            </dict>
            <key>xy_res/ui/ui_res/Zhuye_Anniu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,192}}</string>
                <key>sourceSize</key>
                <string>{151,192}</string>
            </dict>
            <key>xy_res/ui/ui_res/Zhuzhan_Xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,427},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ALL_UI~1_Anniu.png</string>
            <key>size</key>
            <string>{711,1013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ce962af21e59c9fbdc94a3345479362$</string>
            <key>textureFileName</key>
            <string>ALL_UI~1_Anniu.png</string>
        </dict>
    </dict>
</plist>
