<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xy_res/ui/ui_res/Anniu_Fuben_Jiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,804},{82,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,76}}</string>
                <key>sourceSize</key>
                <string>{82,76}</string>
            </dict>
            <key>xy_res/ui/ui_res/Bangpai_Qiecuo_Hengfu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{488,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,108}}</string>
                <key>sourceSize</key>
                <string>{488,108}</string>
            </dict>
            <key>xy_res/ui/ui_res/Bangpai_Qiecuo_Vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,296},{104,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,90}}</string>
                <key>sourceSize</key>
                <string>{104,90}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_Common_Frame_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{13,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,220}}</string>
                <key>sourceSize</key>
                <string>{13,220}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_Common_Frame_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{479,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,77}}</string>
                <key>sourceSize</key>
                <string>{479,77}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_Level_Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,846},{216,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,202}}</string>
                <key>sourceSize</key>
                <string>{216,202}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_PvP_VS_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,241},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_PvP_VS_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{91,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,232}}</string>
                <key>sourceSize</key>
                <string>{91,232}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_PvP_VS_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,224},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>xy_res/ui/ui_res/Copy_Icon_Cross_Tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1030},{67,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,50}}</string>
                <key>sourceSize</key>
                <string>{67,50}</string>
            </dict>
            <key>xy_res/ui/ui_res/Copy_Star_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,752},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_Level_Grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,616},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_PvP_Defeat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{72,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,68}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_PvP_Defeat_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1064},{115,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,94}}</string>
                <key>sourceSize</key>
                <string>{115,94}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_PvP_Defeat_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1064},{115,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,94}}</string>
                <key>sourceSize</key>
                <string>{115,94}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_PvP_Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{348,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,174}}</string>
                <key>sourceSize</key>
                <string>{348,174}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_PvP_MoneyBase.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,468},{146,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,43}}</string>
                <key>sourceSize</key>
                <string>{146,43}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_PvP_Win.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,388},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_PvP_Win_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,934},{115,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,94}}</string>
                <key>sourceSize</key>
                <string>{115,94}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_PvP_Win_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,716},{115,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,94}}</string>
                <key>sourceSize</key>
                <string>{115,94}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_Pvp_Coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,812},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xy_res/ui/ui_res/Jiangli_Yingxiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,657},{36,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,145}}</string>
                <key>sourceSize</key>
                <string>{36,145}</string>
            </dict>
            <key>xy_res/ui/ui_res/Juazhan_Jiangtai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{346,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,106}}</string>
                <key>sourceSize</key>
                <string>{346,106}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVE_Baseboard_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1082},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVE_Baseboard_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1082},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVE_Baseboard_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1030},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Hengkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{470,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,23}}</string>
                <key>sourceSize</key>
                <string>{470,23}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Shangdiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{301,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,92}}</string>
                <key>sourceSize</key>
                <string>{301,92}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Xiadiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{396,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,170}}</string>
                <key>sourceSize</key>
                <string>{396,170}</string>
            </dict>
            <key>xy_res/ui/ui_res/Wangzhe_Zhengba_Hengfu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{480,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,78}}</string>
                <key>sourceSize</key>
                <string>{480,78}</string>
            </dict>
            <key>xy_res/ui/ui_res/Zhandou_Diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1064},{115,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,36}}</string>
                <key>sourceSize</key>
                <string>{115,36}</string>
            </dict>
            <key>xy_res/ui/ui_res/Zhenxing_Diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,470},{244,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,107}}</string>
                <key>sourceSize</key>
                <string>{244,107}</string>
            </dict>
            <key>xy_res/ui/ui_res/Zhenxing_Dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,962},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>xy_res/ui/ui_res/Zhenxing_Gongji_Tubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,888},{72,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ALL_UI~1_Guanka.png</string>
            <key>size</key>
            <string>{507,1198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40f51ac2582413662a214d85221a0ddd$</string>
            <key>textureFileName</key>
            <string>ALL_UI~1_Guanka.png</string>
        </dict>
    </dict>
</plist>
