<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xy_res/ui/ui_res/Bangpai_Pailie_Diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,469},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_Attack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{200,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,30}}</string>
                <key>sourceSize</key>
                <string>{200,30}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_Combat.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,157},{139,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,51}}</string>
                <key>sourceSize</key>
                <string>{139,51}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_Down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{200,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,210}}</string>
                <key>sourceSize</key>
                <string>{200,210}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_Down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,427},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_Down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,341},{334,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,36}}</string>
                <key>sourceSize</key>
                <string>{334,36}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_Down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,417},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_Popup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,417},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_PvP_BaseName.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{437,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,83}}</string>
                <key>sourceSize</key>
                <string>{437,83}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_PvP_Round.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{153,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,123}}</string>
                <key>sourceSize</key>
                <string>{153,123}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_Combat_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,427},{75,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,59}}</string>
                <key>sourceSize</key>
                <string>{75,59}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_Combat_Round.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{440,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,113}}</string>
                <key>sourceSize</key>
                <string>{440,113}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_PvECombat_Star_Gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,459},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_PvEcombat_Star_Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,417},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_PvP_Challenge02.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,272},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_PvP_Defend02.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,210},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/Nuqi_Cao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{413,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,21}}</string>
                <key>sourceSize</key>
                <string>{413,21}</string>
            </dict>
            <key>xy_res/ui/ui_res/Nuqi_Dicao.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,379},{229,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,46}}</string>
                <key>sourceSize</key>
                <string>{229,46}</string>
            </dict>
            <key>xy_res/ui/ui_res/Zhanbai_Yindao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,225},{278,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,114}}</string>
                <key>sourceSize</key>
                <string>{278,114}</string>
            </dict>
            <key>xy_res/ui/ui_res/Zhandou_Diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,379},{115,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,36}}</string>
                <key>sourceSize</key>
                <string>{115,36}</string>
            </dict>
            <key>xy_res/ui/ui_res/Zhandou_Jiesuan_Difang_Jindu.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,210},{158,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,20}}</string>
                <key>sourceSize</key>
                <string>{158,20}</string>
            </dict>
            <key>xy_res/ui/ui_res/Zhandou_Jilu_Benfang_Jindu.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,488},{158,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,20}}</string>
                <key>sourceSize</key>
                <string>{158,20}</string>
            </dict>
            <key>xy_res/ui/ui_res/Zhandou_Jilu_Jindu_Diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,469},{158,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,20}}</string>
                <key>sourceSize</key>
                <string>{158,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ALL_UI~1_Zhandou.png</string>
            <key>size</key>
            <string>{586,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd36150d4a2b9683464c05f237e29bee$</string>
            <key>textureFileName</key>
            <string>ALL_UI~1_Zhandou.png</string>
        </dict>
    </dict>
</plist>
