<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xy_res/ui/ui_res/Baseboard_Down_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1091},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_Hero_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1318},{47,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,85}}</string>
                <key>sourceSize</key>
                <string>{47,85}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_Shop_TopBase_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,351},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_Shop_ahead_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{279,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,39}}</string>
                <key>sourceSize</key>
                <string>{279,39}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_Shop_friendship_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{302,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,45}}</string>
                <key>sourceSize</key>
                <string>{302,45}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_Up_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,141},{139,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,44}}</string>
                <key>sourceSize</key>
                <string>{139,44}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_Up_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1165},{194,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,31}}</string>
                <key>sourceSize</key>
                <string>{194,31}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_Up_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,399},{147,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,144}}</string>
                <key>sourceSize</key>
                <string>{147,144}</string>
            </dict>
            <key>xy_res/ui/ui_res/Bottom_Stamina_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,939},{188,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,51}}</string>
                <key>sourceSize</key>
                <string>{188,51}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Dasheng_Chuanqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1807},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Homepage_Beibao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1358},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Homepage_Bonus_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1256},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Homepage_FPay_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1764},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Homepage_Hunpo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1154},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Homepage_Mail_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1154},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Homepage_Notice_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1052},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Homepage_Qitian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1871},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Homepage_Richang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1891},{78,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,70}}</string>
                <key>sourceSize</key>
                <string>{78,70}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Homepage_Setting_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1052},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Homepage_Shouchong.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1892},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Homepage_Tujian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,950},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Homepage_Xiulian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,950},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Homepage_Yingxiong_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1531},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Homepage_Zhenxing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,996},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_HuaYuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1808},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Libao.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,894},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_PaiHang.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1787},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Shensuo_Hebing.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1607},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Shensuo_Zhankai.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1540},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Sign_Close_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{253,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,56}}</string>
                <key>sourceSize</key>
                <string>{253,56}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Sign_Close_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,549},{272,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,24}}</string>
                <key>sourceSize</key>
                <string>{272,24}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Sign_Close_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,523},{272,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,24}}</string>
                <key>sourceSize</key>
                <string>{272,24}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Sign_Close_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,701},{51,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,27}}</string>
                <key>sourceSize</key>
                <string>{51,27}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Sign_Close_Vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,870},{55,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,23}}</string>
                <key>sourceSize</key>
                <string>{55,23}</string>
            </dict>
            <key>xy_res/ui/ui_res/Button_Yaoqianshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1723},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>xy_res/ui/ui_res/Chakan_Tequan.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1450},{183,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,79}}</string>
                <key>sourceSize</key>
                <string>{183,79}</string>
            </dict>
            <key>xy_res/ui/ui_res/Chongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1369},{183,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,79}}</string>
                <key>sourceSize</key>
                <string>{183,79}</string>
            </dict>
            <key>xy_res/ui/ui_res/Chongzhi_Tankuang_Jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1891},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>xy_res/ui/ui_res/Dianji_Pingmu_Kaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{223,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,31}}</string>
                <key>sourceSize</key>
                <string>{223,31}</string>
            </dict>
            <key>xy_res/ui/ui_res/Exp_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{318,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,20}}</string>
                <key>sourceSize</key>
                <string>{318,20}</string>
            </dict>
            <key>xy_res/ui/ui_res/Exp_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{318,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,20}}</string>
                <key>sourceSize</key>
                <string>{318,20}</string>
            </dict>
            <key>xy_res/ui/ui_res/Exp_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,12},{318,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,20}}</string>
                <key>sourceSize</key>
                <string>{318,20}</string>
            </dict>
            <key>xy_res/ui/ui_res/General_Button_Chatting.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,792},{81,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,116}}</string>
                <key>sourceSize</key>
                <string>{81,116}</string>
            </dict>
            <key>xy_res/ui/ui_res/General_Button_Chatting_Close.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,709},{81,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,116}}</string>
                <key>sourceSize</key>
                <string>{81,116}</string>
            </dict>
            <key>xy_res/ui/ui_res/General_Button_Chatting_Close_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,526},{20,563}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,563}}</string>
                <key>sourceSize</key>
                <string>{20,563}</string>
            </dict>
            <key>xy_res/ui/ui_res/General_Button_Chatting_Close_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{595,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{595,2}}</string>
                <key>sourceSize</key>
                <string>{595,2}</string>
            </dict>
            <key>xy_res/ui/ui_res/General_Button_Chatting_Close_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{260,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,36}}</string>
                <key>sourceSize</key>
                <string>{260,36}</string>
            </dict>
            <key>xy_res/ui/ui_res/General_Icon_Slider_Point_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{445,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,8}}</string>
                <key>sourceSize</key>
                <string>{445,8}</string>
            </dict>
            <key>xy_res/ui/ui_res/Gonggao_Diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,927},{678,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{678,37}}</string>
                <key>sourceSize</key>
                <string>{678,37}</string>
            </dict>
            <key>xy_res/ui/ui_res/Hero_Baseboard_Background_Left_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{197,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,302}}</string>
                <key>sourceSize</key>
                <string>{197,302}</string>
            </dict>
            <key>xy_res/ui/ui_res/Hero_Head_Background_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,585},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>xy_res/ui/ui_res/Huodong_Jing_Cai.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1680},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_Crystal.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1920},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_Head_Hero_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,875},{108,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,17}}</string>
                <key>sourceSize</key>
                <string>{108,17}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_Head_Hero_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,812},{108,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,17}}</string>
                <key>sourceSize</key>
                <string>{108,17}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_Homepage_Ex_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1147},{200,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,16}}</string>
                <key>sourceSize</key>
                <string>{200,16}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_Homepage_Ex_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1129},{200,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,16}}</string>
                <key>sourceSize</key>
                <string>{200,16}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_Homepage_Power_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,410},{114,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,11}}</string>
                <key>sourceSize</key>
                <string>{114,11}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_Homepage_Power_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,283},{114,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,11}}</string>
                <key>sourceSize</key>
                <string>{114,11}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_Money_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1535},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_Money_Homepage.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1477},{56,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,50}}</string>
                <key>sourceSize</key>
                <string>{56,50}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_Pay_MonthCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,12},{127,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,123}}</string>
                <key>sourceSize</key>
                <string>{127,123}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_Power.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1848},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_PvP_Arrow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,977},{53,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,21}}</string>
                <key>sourceSize</key>
                <string>{53,21}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_PvP_Arrow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,922},{53,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,21}}</string>
                <key>sourceSize</key>
                <string>{53,21}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_PvP_AverageCombat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,903},{208,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,45}}</string>
                <key>sourceSize</key>
                <string>{208,45}</string>
            </dict>
            <key>xy_res/ui/ui_res/Liaotian_Beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1531},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>xy_res/ui/ui_res/Liaotian_Fenye_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,235},{132,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,46}}</string>
                <key>sourceSize</key>
                <string>{132,46}</string>
            </dict>
            <key>xy_res/ui/ui_res/Liaotian_Maike_Anjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1256},{60,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,48}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>xy_res/ui/ui_res/Liaotian_Mingcheng_Diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,754},{183,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,36}}</string>
                <key>sourceSize</key>
                <string>{183,36}</string>
            </dict>
            <key>xy_res/ui/ui_res/Liaotian_Rukou.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1460},{78,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>xy_res/ui/ui_res/Liaotian_Rukou_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,187},{132,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,46}}</string>
                <key>sourceSize</key>
                <string>{132,46}</string>
            </dict>
            <key>xy_res/ui/ui_res/Liaotian_Rukou_Zhuye.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{294,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,84}}</string>
                <key>sourceSize</key>
                <string>{294,84}</string>
            </dict>
            <key>xy_res/ui/ui_res/Liaotian_Shuohua_Anjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1256},{726,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{726,56}}</string>
                <key>sourceSize</key>
                <string>{726,56}</string>
            </dict>
            <key>xy_res/ui/ui_res/Liaotian_Wenzi_Diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1701},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1764},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,575},{270,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,197}}</string>
                <key>sourceSize</key>
                <string>{270,197}</string>
            </dict>
            <key>xy_res/ui/ui_res/Switch_Open.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1405},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>xy_res/ui/ui_res/Talent_Synthesis.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1198},{186,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,169}}</string>
                <key>sourceSize</key>
                <string>{186,169}</string>
            </dict>
            <key>xy_res/ui/ui_res/Tupo_Tiaojian.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,545},{146,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,38}}</string>
                <key>sourceSize</key>
                <string>{146,38}</string>
            </dict>
            <key>xy_res/ui/ui_res/Vip_Libao.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1724},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>xy_res/ui/ui_res/Zhuxian_Renwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{276,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,70}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
            <key>xy_res/ui/ui_res/Zhuye_Dingbu_Diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1631},{97,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,47}}</string>
                <key>sourceSize</key>
                <string>{97,47}</string>
            </dict>
            <key>xy_res/ui/ui_res/Zhuye_Huobi_Diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,599},{100,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,30}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>xy_res/ui/ui_res/Zhuye_Jiantou_Zhishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,351},{44,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,84}}</string>
                <key>sourceSize</key>
                <string>{44,84}</string>
            </dict>
            <key>xy_res/ui/ui_res/Zhuye_Touxiang_Diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1633},{90,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>xy_res/ui/ui_res/Zhuye_Touxiang_Zhezhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1634},{90,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>xy_res/ui/ui_res/Zhuye_Vip_Diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,283},{128,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,66}}</string>
                <key>sourceSize</key>
                <string>{128,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ALL_UI~1_Zhuye.png</string>
            <key>size</key>
            <string>{454,1992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cc0bc63503abe1f46a6a23c8babdb1e$</string>
            <key>textureFileName</key>
            <string>ALL_UI~1_Zhuye.png</string>
        </dict>
    </dict>
</plist>
