<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xy_res/ui/ui_res/Test_Icon_Head_Clear.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>xy_res/ui/ui_res/button.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{103,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,40}}</string>
                <key>sourceSize</key>
                <string>{103,40}</string>
            </dict>
            <key>xy_res/ui/ui_res/image.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>xy_res/ui/ui_res/selected02.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,44},{56,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,47}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ALL_UI~1_Gongyong.png</string>
            <key>size</key>
            <string>{287,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7284ec743a2f51a1d5ae8a9d4327caf9$</string>
            <key>textureFileName</key>
            <string>ALL_UI~1_Gongyong.png</string>
        </dict>
    </dict>
</plist>
