<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xy_res/ui/ui_res/Baseboard_ComnbatBalance_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,210}}</string>
                <key>sourceSize</key>
                <string>{480,210}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_ComnbatBalance_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{480,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,73}}</string>
                <key>sourceSize</key>
                <string>{480,73}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_ComnbatBalance_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,107},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_Homepage_Ex_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,92},{274,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,13}}</string>
                <key>sourceSize</key>
                <string>{274,13}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_Homepage_Ex_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,77},{274,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,13}}</string>
                <key>sourceSize</key>
                <string>{274,13}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ALL_UI~2_Zhandou_Zhuye.png</string>
            <key>size</key>
            <string>{966,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28b87d4ae356906bed0b0bdae68a3a8e$</string>
            <key>textureFileName</key>
            <string>ALL_UI~2_Zhandou_Zhuye.png</string>
        </dict>
    </dict>
</plist>
