<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xy_res/ui/ui_res/Baseboard_Hero_Skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,442},{39,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,47}}</string>
                <key>sourceSize</key>
                <string>{39,47}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_Popup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,442},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_RedPoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,413},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,2},{388,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,66}}</string>
                <key>sourceSize</key>
                <string>{388,66}</string>
            </dict>
            <key>xy_res/ui/ui_res/Hero_Baseboard_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,367},{73,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,64}}</string>
                <key>sourceSize</key>
                <string>{73,64}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_PVE_Requst.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,462},{21,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,27}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_PvP_TeamCombatWord.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,184},{150,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,44}}</string>
                <key>sourceSize</key>
                <string>{150,44}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_PvP_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,184},{181,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,84}}</string>
                <key>sourceSize</key>
                <string>{181,84}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVE_Baseboard_Friend_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,2},{180,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,161}}</string>
                <key>sourceSize</key>
                <string>{180,161}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{381,561}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,561}}</string>
                <key>sourceSize</key>
                <string>{381,561}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,392},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{248,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,30}}</string>
                <key>sourceSize</key>
                <string>{248,30}</string>
            </dict>
            <key>xy_res/ui/ui_res/PVP_Baseboard_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{75,561}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,561}}</string>
                <key>sourceSize</key>
                <string>{75,561}</string>
            </dict>
            <key>xy_res/ui/ui_res/Tishi_Goumai_Suipian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,367},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>xy_res/ui/ui_res/frame_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,462},{27,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,284}}</string>
                <key>sourceSize</key>
                <string>{27,284}</string>
            </dict>
            <key>xy_res/ui/ui_res/frame_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,184},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>xy_res/ui/ui_res/frame_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,184},{227,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,13}}</string>
                <key>sourceSize</key>
                <string>{227,13}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ALL_UI~2_Zhuye_Guanka.png</string>
            <key>size</key>
            <string>{796,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98b77b26b43c1f89a47ec15fe893fbec$</string>
            <key>textureFileName</key>
            <string>ALL_UI~2_Zhuye_Guanka.png</string>
        </dict>
    </dict>
</plist>
