<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xy_res/ui/ui_res/Baseboard_Down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,210}}</string>
                <key>sourceSize</key>
                <string>{200,210}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_Down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{146,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,60}}</string>
                <key>sourceSize</key>
                <string>{146,60}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_Down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{334,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,36}}</string>
                <key>sourceSize</key>
                <string>{334,36}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_Popup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,150},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>xy_res/ui/ui_res/Xiao_Tankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,64},{100,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,84}}</string>
                <key>sourceSize</key>
                <string>{100,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ALL_UI~3_Tankuang_Zhuye_Denglu.png</string>
            <key>size</key>
            <string>{352,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4b909f609ced96683e97b14b5d9bb9f$</string>
            <key>textureFileName</key>
            <string>ALL_UI~3_Tankuang_Zhuye_Denglu.png</string>
        </dict>
    </dict>
</plist>
