<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xy_res/ui/ui_res/Bangpai_Huobi_Da.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xy_res/ui/ui_res/Bangpai_Huobi_Xiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,164},{56,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,50}}</string>
                <key>sourceSize</key>
                <string>{56,50}</string>
            </dict>
            <key>xy_res/ui/ui_res/Bangpai_Xinfa_Kong.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,143},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_Homepage.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,164},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_Profession.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,127},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>xy_res/ui/ui_res/Copy_Baseboard_Formation_Square.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,124},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xy_res/ui/ui_res/General_Icon_Hero_Figure.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{160,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,149}}</string>
                <key>sourceSize</key>
                <string>{160,149}</string>
            </dict>
            <key>xy_res/ui/ui_res/Hero_Baseboard_HPLVATT.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,40}}</string>
                <key>sourceSize</key>
                <string>{168,40}</string>
            </dict>
            <key>xy_res/ui/ui_res/Hero_Baseboard_Information_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{139,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,38}}</string>
                <key>sourceSize</key>
                <string>{139,38}</string>
            </dict>
            <key>xy_res/ui/ui_res/Hero_Baseboard_Vertical.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,164},{38,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,51}}</string>
                <key>sourceSize</key>
                <string>{38,51}</string>
            </dict>
            <key>xy_res/ui/ui_res/Hero_Icon_Attack_Tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,213},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>xy_res/ui/ui_res/Hero_Icon_HP_Tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,217},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>xy_res/ui/ui_res/Hero_Icon_LV_Tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,217},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>xy_res/ui/ui_res/Hero_Talent_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{111,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,123}}</string>
                <key>sourceSize</key>
                <string>{111,123}</string>
            </dict>
            <key>xy_res/ui/ui_res/Hero_Talent_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{111,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,123}}</string>
                <key>sourceSize</key>
                <string>{111,123}</string>
            </dict>
            <key>xy_res/ui/ui_res/Hero_Talent_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,127},{111,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,123}}</string>
                <key>sourceSize</key>
                <string>{111,123}</string>
            </dict>
            <key>xy_res/ui/ui_res/Hero_Talent_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{111,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,123}}</string>
                <key>sourceSize</key>
                <string>{111,123}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_Diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,164},{51,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,34}}</string>
                <key>sourceSize</key>
                <string>{51,34}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_Level_Power.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,222},{19,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,27}}</string>
                <key>sourceSize</key>
                <string>{19,27}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_Money_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{56,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,50}}</string>
                <key>sourceSize</key>
                <string>{56,50}</string>
            </dict>
            <key>xy_res/ui/ui_res/Icon_Pvp_Coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xy_res/ui/ui_res/Sudu_Tubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,217},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ALL_UI~3_Zhuye_Tankuang_Guanka.png</string>
            <key>size</key>
            <string>{711,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:941b6e09e51a4ab8180a67b6a72fea19$</string>
            <key>textureFileName</key>
            <string>ALL_UI~3_Zhuye_Tankuang_Guanka.png</string>
        </dict>
    </dict>
</plist>
