<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xy_res/ui/ui_res/Chongzhi_Zhongxin_Biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{278,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,67}}</string>
                <key>sourceSize</key>
                <string>{278,67}</string>
            </dict>
            <key>xy_res/ui/ui_res/Chongzhi_Zhongxin_Biaoti_Diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,71},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>xy_res/ui/ui_res/Chongzhi_Zhongxin_Da_Diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,100},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>xy_res/ui/ui_res/Chongzhi_Zhongxin_Fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,208},{40,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,69}}</string>
                <key>sourceSize</key>
                <string>{40,69}</string>
            </dict>
            <key>xy_res/ui/ui_res/Chongzhi_Zhongxin_Fenye_Pingguo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,208},{146,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,37}}</string>
                <key>sourceSize</key>
                <string>{146,37}</string>
            </dict>
            <key>xy_res/ui/ui_res/Chongzhi_Zhongxin_Fenye_Pingguo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,208},{146,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,37}}</string>
                <key>sourceSize</key>
                <string>{146,37}</string>
            </dict>
            <key>xy_res/ui/ui_res/Chongzhi_Zhongxin_Fenye_Weixin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,169},{146,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,37}}</string>
                <key>sourceSize</key>
                <string>{146,37}</string>
            </dict>
            <key>xy_res/ui/ui_res/Chongzhi_Zhongxin_Fenye_Weixin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,202},{146,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,37}}</string>
                <key>sourceSize</key>
                <string>{146,37}</string>
            </dict>
            <key>xy_res/ui/ui_res/Chongzhi_Zhongxin_Fenye_Weixin_Di.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,100},{214,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,148}}</string>
                <key>sourceSize</key>
                <string>{214,148}</string>
            </dict>
            <key>xy_res/ui/ui_res/Chongzhi_Zhongxin_Fenye_Xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,100},{33,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,148}}</string>
                <key>sourceSize</key>
                <string>{33,148}</string>
            </dict>
            <key>xy_res/ui/ui_res/Chongzhi_Zhongxin_Fenye_Zhifu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,120},{143,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,47}}</string>
                <key>sourceSize</key>
                <string>{143,47}</string>
            </dict>
            <key>xy_res/ui/ui_res/Chongzhi_Zhongxin_Fenye_Zhifu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,71},{143,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,47}}</string>
                <key>sourceSize</key>
                <string>{143,47}</string>
            </dict>
            <key>xy_res/ui/ui_res/Chongzhi_Zhongxin_Fenye_Zhifu_Di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{214,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,148}}</string>
                <key>sourceSize</key>
                <string>{214,148}</string>
            </dict>
            <key>xy_res/ui/ui_res/Chongzhi_Zhongxin_Heixian.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,71},{66,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,2}}</string>
                <key>sourceSize</key>
                <string>{66,2}</string>
            </dict>
            <key>xy_res/ui/ui_res/Chongzhi_Zhongxin_Queren_Anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{664,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{664,96}}</string>
                <key>sourceSize</key>
                <string>{664,96}</string>
            </dict>
            <key>xy_res/ui/ui_res/Chongzhi_Zhongxin_Queren_Zhifu.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{193,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,46}}</string>
                <key>sourceSize</key>
                <string>{193,46}</string>
            </dict>
            <key>xy_res/ui/ui_res/Chongzhi_Zhongxin_Zuodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,100},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ALL_UI~1_Zhifu_Dandu.png</string>
            <key>size</key>
            <string>{996,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:160341c9732e9a6da86d9a9a9e7b81e0$</string>
            <key>textureFileName</key>
            <string>ALL_UI~1_Zhifu_Dandu.png</string>
        </dict>
    </dict>
</plist>
