<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xy_res/ui/ui_res/Bangpai_Bar_Tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,204},{459,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,55}}</string>
                <key>sourceSize</key>
                <string>{459,55}</string>
            </dict>
            <key>xy_res/ui/ui_res/Bangpai_Pailietiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{13,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,41}}</string>
                <key>sourceSize</key>
                <string>{13,41}</string>
            </dict>
            <key>xy_res/ui/ui_res/Bangpai_Pailietiao_Xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,501},{69,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,55}}</string>
                <key>sourceSize</key>
                <string>{69,55}</string>
            </dict>
            <key>xy_res/ui/ui_res/Bangpai_Shenhe_Bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,550},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_Bar_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,2},{546,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,102}}</string>
                <key>sourceSize</key>
                <string>{546,102}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_Bar_Down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{591,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{591,96}}</string>
                <key>sourceSize</key>
                <string>{591,96}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_Bar_Down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{722,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{722,99}}</string>
                <key>sourceSize</key>
                <string>{722,99}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_Bar_Down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{706,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{706,97}}</string>
                <key>sourceSize</key>
                <string>{706,97}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_Bar_Up.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,2},{546,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,102}}</string>
                <key>sourceSize</key>
                <string>{546,102}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_Bar_Up_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{591,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{591,96}}</string>
                <key>sourceSize</key>
                <string>{591,96}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_Bar_Up_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{722,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{722,99}}</string>
                <key>sourceSize</key>
                <string>{722,99}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_Bar_Up_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{706,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{706,97}}</string>
                <key>sourceSize</key>
                <string>{706,97}</string>
            </dict>
            <key>xy_res/ui/ui_res/Baseboard_Bar_Up_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{706,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{706,97}}</string>
                <key>sourceSize</key>
                <string>{706,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ALL_UI~1_Bur.png</string>
            <key>size</key>
            <string>{975,697}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:523fd07495149bb2e033ae77f6d456e3$</string>
            <key>textureFileName</key>
            <string>ALL_UI~1_Bur.png</string>
        </dict>
    </dict>
</plist>
