<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hulidaxian_effect_png-effect17.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>233</integer>
				<key>originalWidth</key>
				<integer>184</integer>
				<key>originalHeight</key>
				<integer>233</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>hulidaxian_effect_png-effect18.png</key>
			<dict>
				<key>width</key>
				<integer>167</integer>
				<key>height</key>
				<integer>230</integer>
				<key>originalWidth</key>
				<integer>167</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>185</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>hulidaxian_effect_png-effect19.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>225</integer>
				<key>originalWidth</key>
				<integer>88</integer>
				<key>originalHeight</key>
				<integer>225</integer>
				<key>x</key>
				<integer>353</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>hulidaxian_effect_cell-effect_1_38_59443.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>237</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>237</integer>
				<key>x</key>
				<integer>442</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>hulidaxian_effect_cell-effect_1_43_16161.png</key>
			<dict>
				<key>width</key>
				<integer>333</integer>
				<key>height</key>
				<integer>210</integer>
				<key>originalWidth</key>
				<integer>333</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>234</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>eff_output_25811.png</string>
			<key>realTextureFileName</key>
			<string>eff_output_25811.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>