<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>menghu_png-effect7.png</key>
			<dict>
				<key>width</key>
				<integer>238</integer>
				<key>height</key>
				<integer>217</integer>
				<key>originalWidth</key>
				<integer>238</integer>
				<key>originalHeight</key>
				<integer>217</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>menghu_png-effect_5.png</key>
			<dict>
				<key>width</key>
				<integer>185</integer>
				<key>height</key>
				<integer>247</integer>
				<key>originalWidth</key>
				<integer>185</integer>
				<key>originalHeight</key>
				<integer>247</integer>
				<key>x</key>
				<integer>239</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>menghu_cell-menghu_lian_aida.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>105</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>menghu_cell-menghu_lian_gongji.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>101</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>317</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>menghu_cell-menghu_lian_kaixing.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>101</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>106</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>menghu_cell-menghu_shengti.png</key>
			<dict>
				<key>width</key>
				<integer>143</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>143</integer>
				<key>originalHeight</key>
				<integer>129</integer>
				<key>x</key>
				<integer>102</integer>
				<key>y</key>
				<integer>326</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>menghu_cell-menghu_shengti_up.png</key>
			<dict>
				<key>width</key>
				<integer>152</integer>
				<key>height</key>
				<integer>153</integer>
				<key>originalWidth</key>
				<integer>152</integer>
				<key>originalHeight</key>
				<integer>153</integer>
				<key>x</key>
				<integer>246</integer>
				<key>y</key>
				<integer>248</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>hero_03211.png</string>
			<key>realTextureFileName</key>
			<string>hero_03211.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>