<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>milefo_yuanjain-toubao.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>milefo_yuanjain-gaojimlf_shenti.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>131</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>96</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>milefo_yuanjain-gaojimlf_jiao.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>101</integer>
				<key>x</key>
				<integer>132</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>milefo_yuanjain-gaojimlf01_youxiu.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>52</integer>
				<key>originalHeight</key>
				<integer>102</integer>
				<key>x</key>
				<integer>132</integer>
				<key>y</key>
				<integer>102</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>milefo_yuanjain-gaojimlf_hua02.png</key>
			<dict>
				<key>width</key>
				<integer>219</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>219</integer>
				<key>originalHeight</key>
				<integer>78</integer>
				<key>x</key>
				<integer>185</integer>
				<key>y</key>
				<integer>102</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>milefo_yuanjain-gaojimlf01_yun.png</key>
			<dict>
				<key>width</key>
				<integer>273</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>273</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>227</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>milefo_yuanjain-gaojimlf_huan.png</key>
			<dict>
				<key>width</key>
				<integer>236</integer>
				<key>height</key>
				<integer>243</integer>
				<key>originalWidth</key>
				<integer>236</integer>
				<key>originalHeight</key>
				<integer>243</integer>
				<key>x</key>
				<integer>274</integer>
				<key>y</key>
				<integer>181</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>milefo_yuanjain-gaojimlf_taiyang.png</key>
			<dict>
				<key>width</key>
				<integer>156</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>156</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>343</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>milefo_yuanjain-diying_01.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>292</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>milefo_effect_cell-effect03.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>292</integer>
				<key>y</key>
				<integer>34</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>milefo_effect_cell-effect04.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>355</integer>
				<key>y</key>
				<integer>34</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>milefo_effect_cell-effect01.png</key>
			<dict>
				<key>width</key>
				<integer>83</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>83</integer>
				<key>originalHeight</key>
				<integer>82</integer>
				<key>x</key>
				<integer>419</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>milefo_effect_cell-effect02.png</key>
			<dict>
				<key>width</key>
				<integer>83</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>83</integer>
				<key>originalHeight</key>
				<integer>82</integer>
				<key>x</key>
				<integer>157</integer>
				<key>y</key>
				<integer>343</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>hero_74011.png</string>
			<key>realTextureFileName</key>
			<string>hero_74011.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>