<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>babutianlong_png-effect48.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>42</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>babutianlong_png-effect49.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>126</integer>
				<key>originalHeight</key>
				<integer>67</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>43</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>babutianlong_png-effect50.png</key>
			<dict>
				<key>width</key>
				<integer>157</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>157</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>111</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>babutianlong_png-effect1.png</key>
			<dict>
				<key>width</key>
				<integer>171</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>171</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>182</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>babutianlong_png-effect2.png</key>
			<dict>
				<key>width</key>
				<integer>183</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>183</integer>
				<key>originalHeight</key>
				<integer>66</integer>
				<key>x</key>
				<integer>127</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>babutianlong_png-effect3.png</key>
			<dict>
				<key>width</key>
				<integer>193</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>68</integer>
				<key>x</key>
				<integer>158</integer>
				<key>y</key>
				<integer>67</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>babutianlong_png-effect4.png</key>
			<dict>
				<key>width</key>
				<integer>205</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>205</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>248</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>babutianlong_png-effect5.png</key>
			<dict>
				<key>width</key>
				<integer>214</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>214</integer>
				<key>originalHeight</key>
				<integer>77</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>325</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>babutianlong_png-effect6.png</key>
			<dict>
				<key>width</key>
				<integer>219</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>219</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>403</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>babutianlong_png-effect7.png</key>
			<dict>
				<key>width</key>
				<integer>217</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>217</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>206</integer>
				<key>y</key>
				<integer>136</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>babutianlong_png-effect8.png</key>
			<dict>
				<key>width</key>
				<integer>178</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>178</integer>
				<key>originalHeight</key>
				<integer>78</integer>
				<key>x</key>
				<integer>206</integer>
				<key>y</key>
				<integer>211</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>babutianlong_png-effect9.png</key>
			<dict>
				<key>width</key>
				<integer>161</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>161</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>311</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>babutianlong_png-effect0.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>151</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>220</integer>
				<key>y</key>
				<integer>290</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>babutianlong_png-effect65.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>385</integer>
				<key>y</key>
				<integer>211</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>babutianlong_png-effect66.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>119</integer>
				<key>originalHeight</key>
				<integer>113</integer>
				<key>x</key>
				<integer>220</integer>
				<key>y</key>
				<integer>398</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>babutianlong_call-effect01.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>372</integer>
				<key>y</key>
				<integer>290</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>eff_output_02850.png</string>
			<key>realTextureFileName</key>
			<string>eff_output_02850.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>