<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gaojihuangpaoguai_png-effect65.png</key>
			<dict>
				<key>width</key>
				<integer>344</integer>
				<key>height</key>
				<integer>191</integer>
				<key>originalWidth</key>
				<integer>344</integer>
				<key>originalHeight</key>
				<integer>191</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gaojihuangpaoguai_cell-effect95.png</key>
			<dict>
				<key>width</key>
				<integer>199</integer>
				<key>height</key>
				<integer>198</integer>
				<key>originalWidth</key>
				<integer>199</integer>
				<key>originalHeight</key>
				<integer>198</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>192</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gaojihuangpaoguai_cell-bang.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>142</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>345</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gaojihuangpaoguai_cell-01bang.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>110</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>391</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gaojihuangpaoguai_cell-youshou.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>88</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>200</integer>
				<key>y</key>
				<integer>192</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gaojihuangpaoguai_cell-kui.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>129</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>289</integer>
				<key>y</key>
				<integer>192</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gaojihuangpaoguai_cell-01kui.png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>122</integer>
				<key>originalHeight</key>
				<integer>105</integer>
				<key>x</key>
				<integer>200</integer>
				<key>y</key>
				<integer>311</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gaojihuangpaoguai_cell-biao_zheng.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>184</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>323</integer>
				<key>y</key>
				<integer>310</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gaojihuangpaoguai_cell-01zuoshou.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>85</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>419</integer>
				<key>y</key>
				<integer>136</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>hero_51216.png</string>
			<key>realTextureFileName</key>
			<string>hero_51216.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>