<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>wuxingshan_yuanjian-biaoqing_04.png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>117</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wuxingshan_yuanjian-biaoqing_05.png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>118</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>118</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wuxingshan_yuanjian-biaoqing_02.png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>118</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>104</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wuxingshan_yuanjian-shenti_01.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>133</integer>
				<key>originalHeight</key>
				<integer>142</integer>
				<key>x</key>
				<integer>119</integer>
				<key>y</key>
				<integer>104</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wuxingshan_yuanjian-bei_01.png</key>
			<dict>
				<key>width</key>
				<integer>155</integer>
				<key>height</key>
				<integer>186</integer>
				<key>originalWidth</key>
				<integer>155</integer>
				<key>originalHeight</key>
				<integer>186</integer>
				<key>x</key>
				<integer>253</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wuxingshan_yuanjian-dabi_02.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>52</integer>
				<key>originalHeight</key>
				<integer>102</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>208</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wuxingshan_yuanjian-diying_01.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>311</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>hero_08311.png</string>
			<key>realTextureFileName</key>
			<string>hero_08311.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>