<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bangpai_Huobi_Da.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1629},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Baseboard_Homepage_Base.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,92},{90,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>Baseboard_Homepage_Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{90,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>Exp_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,20}}</string>
                <key>sourceSize</key>
                <string>{318,20}</string>
            </dict>
            <key>Frame_Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1016},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>Icon_Captain.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1683},{55,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,38}}</string>
                <key>sourceSize</key>
                <string>{55,38}</string>
            </dict>
            <key>Icon_Head_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,892},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>Icon_Head_Hero_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1806},{98,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,14}}</string>
                <key>sourceSize</key>
                <string>{98,14}</string>
            </dict>
            <key>Icon_Head_Hero_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1770},{108,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,17}}</string>
                <key>sourceSize</key>
                <string>{108,17}</string>
            </dict>
            <key>Icon_Head_Hero_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1751},{108,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,17}}</string>
                <key>sourceSize</key>
                <string>{108,17}</string>
            </dict>
            <key>Icon_Head_Hero_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1787},{108,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,17}}</string>
                <key>sourceSize</key>
                <string>{108,17}</string>
            </dict>
            <key>Icon_Head_Hero_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,112},{108,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,17}}</string>
                <key>sourceSize</key>
                <string>{108,17}</string>
            </dict>
            <key>Icon_Head_Hero_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{108,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,17}}</string>
                <key>sourceSize</key>
                <string>{108,17}</string>
            </dict>
            <key>Icon_Hero_BigStar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1383},{27,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,98}}</string>
                <key>sourceSize</key>
                <string>{27,98}</string>
            </dict>
            <key>Icon_Hero_BigStar_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1483},{27,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,98}}</string>
                <key>sourceSize</key>
                <string>{27,98}</string>
            </dict>
            <key>Icon_Hero_BigStar_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1583},{27,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,98}}</string>
                <key>sourceSize</key>
                <string>{27,98}</string>
            </dict>
            <key>Icon_Hero_BigStar_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1383},{27,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,98}}</string>
                <key>sourceSize</key>
                <string>{27,98}</string>
            </dict>
            <key>Icon_Hero_BigStar_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1483},{27,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,98}}</string>
                <key>sourceSize</key>
                <string>{27,98}</string>
            </dict>
            <key>Icon_Hero_BigStar_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1383},{27,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,98}}</string>
                <key>sourceSize</key>
                <string>{27,98}</string>
            </dict>
            <key>Icon_Hero_Head_Boss_Tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{147,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,140}}</string>
                <key>sourceSize</key>
                <string>{147,140}</string>
            </dict>
            <key>Icon_Hero_Head_Captain_Tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,242},{33,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,28}}</string>
                <key>sourceSize</key>
                <string>{33,28}</string>
            </dict>
            <key>Icon_Hero_Head_Defend_Tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,768},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>Icon_Hero_Head_Defend_Tips_Open.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,644},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>Icon_Hero_Head_Evolve_Tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,520},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>Icon_Hero_Head_Fragment_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,396},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>Icon_Hero_Head_Fragment_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,272},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>Icon_Hero_Head_Fragment_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1017},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>Icon_Hero_Head_Fragment_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,893},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>Icon_Hero_Head_Fragment_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,769},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>Icon_Hero_Head_Fragment_Tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,645},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>Icon_Hero_Head_Level_Tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,521},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>Icon_Hero_Head_Material_Tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,397},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>Icon_Hero_Head_New_Tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1263},{118,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,112}}</string>
                <key>sourceSize</key>
                <string>{118,112}</string>
            </dict>
            <key>Icon_Hero_Head_Play_Tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,273},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>Icon_Hero_Head_Play_Tips_Open.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1657},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>Icon_Hero_Head_Protection_Tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1533},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>Icon_Hero_Head_Protection_Tips_Open.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1409},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>Icon_Hero_Head_Selected_Tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{132,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,125}}</string>
                <key>sourceSize</key>
                <string>{132,125}</string>
            </dict>
            <key>Icon_Hero_Head_Synthesis_Tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1285},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>Icon_Hero_Head_Team_Member_Tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,1141},{118,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,112}}</string>
                <key>sourceSize</key>
                <string>{118,112}</string>
            </dict>
            <key>Icon_Hero_Thesamehero.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1161},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>Icon_Money.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1507},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Icon_No.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{132,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,125}}</string>
                <key>sourceSize</key>
                <string>{132,125}</string>
            </dict>
            <key>Icon_No_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,182},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>Icon_No_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1756},{50,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>Icon_No_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1759},{50,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>Icon_No_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1751},{50,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>Icon_No_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1704},{50,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>Icon_No_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1634},{50,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>Icon_No_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1781},{50,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>Icon_No_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1781},{50,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>Icon_No_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1582},{50,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>Icon_No_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1545},{50,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>Icon_No_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1508},{50,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>Icon_No_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1722},{50,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>Icon_No_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1635},{50,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>Icon_No_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1583},{50,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>Icon_No_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1471},{50,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>Icon_No_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1434},{50,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>Icon_Pay_Diamond_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1385},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Icon_Pay_VipTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{49,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,19}}</string>
                <key>sourceSize</key>
                <string>{49,19}</string>
            </dict>
            <key>Icon_Power.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,1037},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>Icon_Profession_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1671},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>Icon_Profession_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1789},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>Icon_Profession_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1789},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>Icon_Profession_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1789},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>Icon_Profession_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1789},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>Icon_Profession_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,182},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>Icon_PvP_Star_Limit.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,913},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>Icon_Pvp_Coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1263},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Icon_SystemMail.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1141},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Jinhua_Biankuang_Cheng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,789},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>Jinhua_Biankuang_Cheng_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,665},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>Jinhua_Biankuang_Cheng_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,541},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>Jinhua_Biankuang_Lan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,417},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>Jinhua_Biankuang_Lan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,293},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>Jinhua_Biankuang_Lan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,149},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>Jinhua_Biankuang_Zi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,148},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>Jinhua_Biankuang_Zi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,24},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>Jinhua_Biankuang_Zi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1663},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>Magna_debris.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1672},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>Magna_debris_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,222},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>Magna_debris_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1383},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>Pay_Diamond_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>Pay_Diamond_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,793},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>Pay_Diamond_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>Pay_Diamond_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,543},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>Pay_Diamond_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>Pay_Diamond_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>Test_Frame_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1539},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>Test_Frame_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1415},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>Test_Frame_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1291},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>Test_Frame_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1167},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>Test_Frame_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1043},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>Tili.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,24},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Hero_Head_Setting.png</string>
            <key>size</key>
            <string>{511,1822}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf8096eae825ad6c9162b5d5d2e8dd6a$</string>
            <key>textureFileName</key>
            <string>Hero_Head_Setting.png</string>
        </dict>
    </dict>
</plist>
