<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yangli_daxian_cell-diying_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1196},{96,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,33}}</string>
                <key>sourceSize</key>
                <string>{96,33}</string>
            </dict>
            <key>yangli_daxian_cell-yangli_daxian_fu.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1948},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,45}}</string>
                <key>sourceSize</key>
                <string>{27,45}</string>
            </dict>
            <key>yangli_daxian_cell-yangli_daxian_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1212},{71,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,78}}</string>
                <key>sourceSize</key>
                <string>{71,78}</string>
            </dict>
            <key>yangli_daxian_cell-yangli_daxian_guang_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,815},{106,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,85}}</string>
                <key>sourceSize</key>
                <string>{106,85}</string>
            </dict>
            <key>yangli_daxian_cell-yangli_daxian_guang_zanzi_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1942},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,20}}</string>
                <key>sourceSize</key>
                <string>{40,20}</string>
            </dict>
            <key>yangli_daxian_cell-yangli_daxian_huzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,659},{34,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,56}}</string>
                <key>sourceSize</key>
                <string>{34,56}</string>
            </dict>
            <key>yangli_daxian_cell-yangli_daxian_jiao_you.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1875},{48,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,55}}</string>
                <key>sourceSize</key>
                <string>{48,55}</string>
            </dict>
            <key>yangli_daxian_cell-yangli_daxian_jiao_you_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,402},{52,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,63}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>yangli_daxian_cell-yangli_daxian_jiao_zuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,910},{69,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,67}}</string>
                <key>sourceSize</key>
                <string>{69,67}</string>
            </dict>
            <key>yangli_daxian_cell-yangli_daxian_jiao_zuo_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1535},{70,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,80}}</string>
                <key>sourceSize</key>
                <string>{70,80}</string>
            </dict>
            <key>yangli_daxian_cell-yangli_daxian_mei_you.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,247},{16,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,35}}</string>
                <key>sourceSize</key>
                <string>{16,35}</string>
            </dict>
            <key>yangli_daxian_cell-yangli_daxian_mei_zuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1977},{21,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,44}}</string>
                <key>sourceSize</key>
                <string>{21,44}</string>
            </dict>
            <key>yangli_daxian_cell-yangli_daxian_piaodai_you.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1977},{22,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,44}}</string>
                <key>sourceSize</key>
                <string>{22,44}</string>
            </dict>
            <key>yangli_daxian_cell-yangli_daxian_piaodai_zuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1925},{21,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,46}}</string>
                <key>sourceSize</key>
                <string>{21,46}</string>
            </dict>
            <key>yangli_daxian_cell-yangli_daxian_shanzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,647},{110,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,63}}</string>
                <key>sourceSize</key>
                <string>{110,63}</string>
            </dict>
            <key>yangli_daxian_cell-yangli_daxian_shanzi_diaozhui_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1655},{44,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,84}}</string>
                <key>sourceSize</key>
                <string>{44,84}</string>
            </dict>
            <key>yangli_daxian_cell-yangli_daxian_shanzi_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{120,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,69}}</string>
                <key>sourceSize</key>
                <string>{120,69}</string>
            </dict>
            <key>yangli_daxian_cell-yangli_daxian_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{153,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,139}}</string>
                <key>sourceSize</key>
                <string>{153,139}</string>
            </dict>
            <key>yangli_daxian_cell-yangli_daxian_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{111,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,91}}</string>
                <key>sourceSize</key>
                <string>{111,91}</string>
            </dict>
            <key>yangli_daxian_cell-yangli_daxian_tou_gongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,288},{40,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,47}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
            <key>yangli_daxian_cell-yangli_daxian_tou_kaixing.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1896},{41,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,44}}</string>
                <key>sourceSize</key>
                <string>{41,44}</string>
            </dict>
            <key>yangli_daxian_cell-yangli_daxian_tou_shouji.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,1942},{42,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,53}}</string>
                <key>sourceSize</key>
                <string>{42,53}</string>
            </dict>
            <key>yangli_daxian_cell-yangli_daxian_tou_zhengchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,1872},{51,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,60}}</string>
                <key>sourceSize</key>
                <string>{51,60}</string>
            </dict>
            <key>yangli_daxian_cell-yangli_daxian_xiabai_you.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,1842},{28,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,63}}</string>
                <key>sourceSize</key>
                <string>{28,63}</string>
            </dict>
            <key>yangli_daxian_cell-yangli_daxian_xiabai_zhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1833},{40,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,64}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>yangli_daxian_cell-yangli_daxian_xiabai_zuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,1046},{66,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>yangli_daxian_cell-yangli_daxian_you_dabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1480},{53,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,75}}</string>
                <key>sourceSize</key>
                <string>{53,75}</string>
            </dict>
            <key>yangli_daxian_cell-yangli_daxian_you_jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1767},{40,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,23}}</string>
                <key>sourceSize</key>
                <string>{40,23}</string>
            </dict>
            <key>yangli_daxian_cell-yangli_daxian_you_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1998},{33,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,42}}</string>
                <key>sourceSize</key>
                <string>{33,42}</string>
            </dict>
            <key>yangli_daxian_cell-yangli_daxian_you_xiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1995},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,29}}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>yangli_daxian_cell-yangli_daxian_you_xiuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1809},{30,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,51}}</string>
                <key>sourceSize</key>
                <string>{30,51}</string>
            </dict>
            <key>yangli_daxian_cell-yangli_daxian_zuo_dabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,1119},{50,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,66}}</string>
                <key>sourceSize</key>
                <string>{50,66}</string>
            </dict>
            <key>yangli_daxian_cell-yangli_daxian_zuo_jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1964},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>yangli_daxian_cell-yangli_daxian_zuo_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1942},{54,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,34}}</string>
                <key>sourceSize</key>
                <string>{54,34}</string>
            </dict>
            <key>yangli_daxian_cell-yangli_daxian_zuo_xiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,1997},{43,34}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{43,34}}</string>
                <key>sourceSize</key>
                <string>{49,40}</string>
            </dict>
            <key>yangli_daxian_cell-yangli_daxian_zuo_xiuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,981},{63,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,67}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>yangli_daxian_png-effect10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{101,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{101,108}}</string>
                <key>sourceSize</key>
                <string>{105,112}</string>
            </dict>
            <key>yangli_daxian_png-effect11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1097},{99,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{99,97}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>yangli_daxian_png-effect12.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1862},{35,32}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{35,32}}</string>
                <key>sourceSize</key>
                <string>{41,38}</string>
            </dict>
            <key>yangli_daxian_png-effect22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1791},{70,40}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{70,40}}</string>
                <key>sourceSize</key>
                <string>{78,42}</string>
            </dict>
            <key>yangli_daxian_png-effect23.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,1171},{65,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{65,39}}</string>
                <key>sourceSize</key>
                <string>{71,41}</string>
            </dict>
            <key>yangli_daxian_png-effect24.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,1767},{71,37}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{71,37}}</string>
                <key>sourceSize</key>
                <string>{77,39}</string>
            </dict>
            <key>yangli_daxian_png-effect25.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1607},{81,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{81,42}}</string>
                <key>sourceSize</key>
                <string>{87,42}</string>
            </dict>
            <key>yangli_daxian_png-effect26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1612},{86,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{86,41}}</string>
                <key>sourceSize</key>
                <string>{88,41}</string>
            </dict>
            <key>yangli_daxian_png-effect27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1425},{88,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,45}}</string>
                <key>sourceSize</key>
                <string>{88,45}</string>
            </dict>
            <key>yangli_daxian_png-effect28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1566},{86,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{86,44}}</string>
                <key>sourceSize</key>
                <string>{88,46}</string>
            </dict>
            <key>yangli_daxian_png-effect29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1701},{82,44}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{82,44}}</string>
                <key>sourceSize</key>
                <string>{88,46}</string>
            </dict>
            <key>yangli_daxian_png-effect30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1747},{71,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{71,42}}</string>
                <key>sourceSize</key>
                <string>{77,42}</string>
            </dict>
            <key>yangli_daxian_png-effect38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{53,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{53,113}}</string>
                <key>sourceSize</key>
                <string>{53,117}</string>
            </dict>
            <key>yangli_daxian_png-effect39.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,806},{58,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,102}}</string>
                <key>sourceSize</key>
                <string>{58,104}</string>
            </dict>
            <key>yangli_daxian_png-effect40.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,563},{56,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,94}}</string>
                <key>sourceSize</key>
                <string>{56,96}</string>
            </dict>
            <key>yangli_daxian_png-effect41.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,695},{55,109}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,109}}</string>
                <key>sourceSize</key>
                <string>{55,111}</string>
            </dict>
            <key>yangli_daxian_png-effect42.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,467},{51,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{51,94}}</string>
                <key>sourceSize</key>
                <string>{53,98}</string>
            </dict>
            <key>yangli_daxian_png-effect43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1511},{53,87}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{53,87}}</string>
                <key>sourceSize</key>
                <string>{53,91}</string>
            </dict>
            <key>yangli_daxian_png-effect44.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,330},{46,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,70}}</string>
                <key>sourceSize</key>
                <string>{48,72}</string>
            </dict>
            <key>yangli_daxian_png-effect53.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1806},{34,65}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{34,65}}</string>
                <key>sourceSize</key>
                <string>{40,73}</string>
            </dict>
            <key>yangli_daxian_png-effect54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1472},{37,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{37,88}}</string>
                <key>sourceSize</key>
                <string>{43,96}</string>
            </dict>
            <key>yangli_daxian_png-effect55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{36,119}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{36,119}}</string>
                <key>sourceSize</key>
                <string>{42,129}</string>
            </dict>
            <key>yangli_daxian_png-effect56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{39,150}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{39,150}}</string>
                <key>sourceSize</key>
                <string>{45,158}</string>
            </dict>
            <key>yangli_daxian_png-effect57.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1292},{74,186}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{74,186}}</string>
                <key>sourceSize</key>
                <string>{82,192}</string>
            </dict>
            <key>yangli_daxian_png-effect58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1231},{93,192}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{93,192}}</string>
                <key>sourceSize</key>
                <string>{103,200}</string>
            </dict>
            <key>yangli_daxian_png-effect59.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{99,193}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{99,193}}</string>
                <key>sourceSize</key>
                <string>{109,201}</string>
            </dict>
            <key>yangli_daxian_png-effect60.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,158}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{102,158}}</string>
                <key>sourceSize</key>
                <string>{112,170}</string>
            </dict>
            <key>yangli_daxian_png-effect7.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1651},{74,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{74,42}}</string>
                <key>sourceSize</key>
                <string>{82,48}</string>
            </dict>
            <key>yangli_daxian_png-effect8.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,1695},{70,83}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{70,83}}</string>
                <key>sourceSize</key>
                <string>{76,87}</string>
            </dict>
            <key>yangli_daxian_png-effect9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{100,115}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{100,115}}</string>
                <key>sourceSize</key>
                <string>{104,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_2541.png</string>
            <key>size</key>
            <string>{173,2033}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76b95c8a5e9855e3cffc28e25e8572e0$</string>
            <key>textureFileName</key>
            <string>hero_2541.png</string>
        </dict>
    </dict>
</plist>
