<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qingmaoshiziguai_cell-biaoqing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1144},{98,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,94}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>qingmaoshiziguai_cell-biaoqing_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1240},{97,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,94}}</string>
                <key>sourceSize</key>
                <string>{97,94}</string>
            </dict>
            <key>qingmaoshiziguai_cell-biaoqing_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,516},{97,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,94}}</string>
                <key>sourceSize</key>
                <string>{97,94}</string>
            </dict>
            <key>qingmaoshiziguai_cell-dabi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,940},{49,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,73}}</string>
                <key>sourceSize</key>
                <string>{49,73}</string>
            </dict>
            <key>qingmaoshiziguai_cell-dabi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1029},{80,104}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,104}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>qingmaoshiziguai_cell-datui_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1172},{47,66}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{47,66}}</string>
                <key>sourceSize</key>
                <string>{51,66}</string>
            </dict>
            <key>qingmaoshiziguai_cell-datui_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1024},{59,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,69}}</string>
                <key>sourceSize</key>
                <string>{59,69}</string>
            </dict>
            <key>qingmaoshiziguai_cell-diying_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,784},{96,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,33}}</string>
                <key>sourceSize</key>
                <string>{96,33}</string>
            </dict>
            <key>qingmaoshiziguai_cell-huzi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,882},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>qingmaoshiziguai_cell-huzi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1422},{35,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,17}}</string>
                <key>sourceSize</key>
                <string>{35,17}</string>
            </dict>
            <key>qingmaoshiziguai_cell-huzi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1378},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>qingmaoshiziguai_cell-huzi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1353},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>qingmaoshiziguai_cell-huzi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1422},{34,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,21}}</string>
                <key>sourceSize</key>
                <string>{34,21}</string>
            </dict>
            <key>qingmaoshiziguai_cell-huzi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1410},{35,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,25}}</string>
                <key>sourceSize</key>
                <string>{35,25}</string>
            </dict>
            <key>qingmaoshiziguai_cell-huzi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1422},{31,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,21}}</string>
                <key>sourceSize</key>
                <string>{31,21}</string>
            </dict>
            <key>qingmaoshiziguai_cell-huzi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1221},{47,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,40}}</string>
                <key>sourceSize</key>
                <string>{47,40}</string>
            </dict>
            <key>qingmaoshiziguai_cell-huzi_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1270},{38,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,42}}</string>
                <key>sourceSize</key>
                <string>{38,42}</string>
            </dict>
            <key>qingmaoshiziguai_cell-huzi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,984},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>qingmaoshiziguai_cell-huzi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1410},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{29,33}</string>
            </dict>
            <key>qingmaoshiziguai_cell-huzi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1266},{26,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,31}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>qingmaoshiziguai_cell-jianjai_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,804},{72,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{72,80}}</string>
                <key>sourceSize</key>
                <string>{74,82}</string>
            </dict>
            <key>qingmaoshiziguai_cell-jianjia_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1336},{84,97}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,97}}</string>
                <key>sourceSize</key>
                <string>{84,99}</string>
            </dict>
            <key>qingmaoshiziguai_cell-jianjia_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1272},{121,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,143}}</string>
                <key>sourceSize</key>
                <string>{121,143}</string>
            </dict>
            <key>qingmaoshiziguai_cell-jianjia_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1029},{111,113}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,113}}</string>
                <key>sourceSize</key>
                <string>{111,117}</string>
            </dict>
            <key>qingmaoshiziguai_cell-jiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1023},{75,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,47}}</string>
                <key>sourceSize</key>
                <string>{75,47}</string>
            </dict>
            <key>qingmaoshiziguai_cell-jiao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,984},{72,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,38}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>qingmaoshiziguai_cell-piaodai_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1386},{54,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>qingmaoshiziguai_cell-piaodai_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1221},{70,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,81}}</string>
                <key>sourceSize</key>
                <string>{70,81}</string>
            </dict>
            <key>qingmaoshiziguai_cell-piaodai_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,991},{30,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,77}}</string>
                <key>sourceSize</key>
                <string>{30,77}</string>
            </dict>
            <key>qingmaoshiziguai_cell-piaodai_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1135},{30,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,77}}</string>
                <key>sourceSize</key>
                <string>{30,77}</string>
            </dict>
            <key>qingmaoshiziguai_cell-pilian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,940},{42,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,77}}</string>
                <key>sourceSize</key>
                <string>{42,77}</string>
            </dict>
            <key>qingmaoshiziguai_cell-shangba_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,657},{30,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,37}}</string>
                <key>sourceSize</key>
                <string>{30,37}</string>
            </dict>
            <key>qingmaoshiziguai_cell-shenti_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,535},{120,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,116}}</string>
                <key>sourceSize</key>
                <string>{120,116}</string>
            </dict>
            <key>qingmaoshiziguai_cell-shou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,939},{34,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,43}}</string>
                <key>sourceSize</key>
                <string>{34,43}</string>
            </dict>
            <key>qingmaoshiziguai_cell-shou_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,1010},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>qingmaoshiziguai_cell-shou_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1109},{59,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,63}</string>
            </dict>
            <key>qingmaoshiziguai_cell-shou_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1282},{51,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,43}}</string>
                <key>sourceSize</key>
                <string>{51,43}</string>
            </dict>
            <key>qingmaoshiziguai_cell-shou_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1125},{53,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,51}}</string>
                <key>sourceSize</key>
                <string>{53,51}</string>
            </dict>
            <key>qingmaoshiziguai_cell-shou_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,882},{66,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,56}}</string>
                <key>sourceSize</key>
                <string>{66,56}</string>
            </dict>
            <key>qingmaoshiziguai_cell-toufa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,886},{28,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,51}}</string>
                <key>sourceSize</key>
                <string>{28,51}</string>
            </dict>
            <key>qingmaoshiziguai_cell-toufa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1072},{35,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,71}}</string>
                <key>sourceSize</key>
                <string>{35,71}</string>
            </dict>
            <key>qingmaoshiziguai_cell-toufa_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1109},{20,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,55}}</string>
                <key>sourceSize</key>
                <string>{20,55}</string>
            </dict>
            <key>qingmaoshiziguai_cell-toufa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1327},{35,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,46}}</string>
                <key>sourceSize</key>
                <string>{35,46}</string>
            </dict>
            <key>qingmaoshiziguai_cell-toufa_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,302},{24,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,72}}</string>
                <key>sourceSize</key>
                <string>{26,76}</string>
            </dict>
            <key>qingmaoshiziguai_cell-toufa_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,1310},{41,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{41,39}</string>
            </dict>
            <key>qingmaoshiziguai_cell-toufa_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,426},{36,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,76}}</string>
                <key>sourceSize</key>
                <string>{36,76}</string>
            </dict>
            <key>qingmaoshiziguai_cell-toufa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,504},{36,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,55}}</string>
                <key>sourceSize</key>
                <string>{36,55}</string>
            </dict>
            <key>qingmaoshiziguai_cell-toufa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1327},{37,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,56}}</string>
                <key>sourceSize</key>
                <string>{37,56}</string>
            </dict>
            <key>qingmaoshiziguai_cell-toufa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1095},{38,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,47}}</string>
                <key>sourceSize</key>
                <string>{38,47}</string>
            </dict>
            <key>qingmaoshiziguai_cell-toufa_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1072},{53,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,51}}</string>
                <key>sourceSize</key>
                <string>{53,51}</string>
            </dict>
            <key>qingmaoshiziguai_cell-toushi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1234},{87,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,65}}</string>
                <key>sourceSize</key>
                <string>{87,65}</string>
            </dict>
            <key>qingmaoshiziguai_cell-wuqi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,372}}</string>
                <key>sourceSize</key>
                <string>{75,372}</string>
            </dict>
            <key>qingmaoshiziguai_cell-wuqi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{102,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{102,320}}</string>
                <key>sourceSize</key>
                <string>{106,320}</string>
            </dict>
            <key>qingmaoshiziguai_cell-xiajia_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1375},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
            <key>qingmaoshiziguai_cell-xiajia_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,561},{49,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,46}}</string>
                <key>sourceSize</key>
                <string>{49,46}</string>
            </dict>
            <key>qingmaoshiziguai_cell-xiaobi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1386},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>qingmaoshiziguai_cell-xiaobi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,886},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>qingmaoshiziguai_cell-xiaobijia_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1323},{72,85}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{72,85}}</string>
                <key>sourceSize</key>
                <string>{86,97}</string>
            </dict>
            <key>qingmaoshiziguai_cell-xiaobijia_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1304},{69,80}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{69,80}}</string>
                <key>sourceSize</key>
                <string>{75,86}</string>
            </dict>
            <key>qingmaoshiziguai_cell-xiaobijia_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1221},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>qingmaoshiziguai_cell-xiaotui_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1178},{37,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,59}}</string>
                <key>sourceSize</key>
                <string>{37,59}</string>
            </dict>
            <key>qingmaoshiziguai_cell-xiaotui_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1217},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>qingmaoshiziguai_cell-yaodai_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1135},{84,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,51}}</string>
                <key>sourceSize</key>
                <string>{84,51}</string>
            </dict>
            <key>qingmaoshiziguai_cell-yaoshi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,612},{37,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,21}}</string>
                <key>sourceSize</key>
                <string>{37,21}</string>
            </dict>
            <key>qingmaoshiziguai_png-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,657},{223,55}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{223,55}}</string>
                <key>sourceSize</key>
                <string>{231,59}</string>
            </dict>
            <key>qingmaoshiziguai_png-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,657},{217,57}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,57}}</string>
                <key>sourceSize</key>
                <string>{231,59}</string>
            </dict>
            <key>qingmaoshiziguai_png-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1417},{111,25}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{111,25}}</string>
                <key>sourceSize</key>
                <string>{121,31}</string>
            </dict>
            <key>qingmaoshiziguai_png-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,657},{125,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{125,39}}</string>
                <key>sourceSize</key>
                <string>{131,43}</string>
            </dict>
            <key>qingmaoshiziguai_png-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,657},{145,51}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{145,51}}</string>
                <key>sourceSize</key>
                <string>{153,55}</string>
            </dict>
            <key>qingmaoshiziguai_png-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,978},{177,49}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{177,49}}</string>
                <key>sourceSize</key>
                <string>{181,55}</string>
            </dict>
            <key>qingmaoshiziguai_png-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,883},{190,57}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{190,57}}</string>
                <key>sourceSize</key>
                <string>{200,59}</string>
            </dict>
            <key>qingmaoshiziguai_png-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,942},{196,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{196,34}}</string>
                <key>sourceSize</key>
                <string>{202,44}</string>
            </dict>
            <key>qingmaoshiziguai_png-33.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,542},{133,153}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{133,153}}</string>
                <key>sourceSize</key>
                <string>{165,173}</string>
            </dict>
            <key>qingmaoshiziguai_png-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,426},{111,88}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{111,88}}</string>
                <key>sourceSize</key>
                <string>{137,104}</string>
            </dict>
            <key>qingmaoshiziguai_png-36.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1144},{88,59}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{88,59}}</string>
                <key>sourceSize</key>
                <string>{100,67}</string>
            </dict>
            <key>qingmaoshiziguai_png-37.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{253,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{253,170}}</string>
                <key>sourceSize</key>
                <string>{261,176}</string>
            </dict>
            <key>qingmaoshiziguai_png-38.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{241,172}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{241,172}}</string>
                <key>sourceSize</key>
                <string>{247,178}</string>
            </dict>
            <key>qingmaoshiziguai_png-39.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,697},{184,161}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{184,161}}</string>
                <key>sourceSize</key>
                <string>{184,163}</string>
            </dict>
            <key>qingmaoshiziguai_png-40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{120,282}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{120,282}}</string>
                <key>sourceSize</key>
                <string>{132,290}</string>
            </dict>
            <key>qingmaoshiziguai_png-41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{116,288}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{116,288}}</string>
                <key>sourceSize</key>
                <string>{124,298}</string>
            </dict>
            <key>qingmaoshiziguai_png-42.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,302},{116,231}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{116,231}}</string>
                <key>sourceSize</key>
                <string>{126,241}</string>
            </dict>
            <key>qingmaoshiziguai_png-43.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,174},{126,247}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{126,247}}</string>
                <key>sourceSize</key>
                <string>{130,253}</string>
            </dict>
            <key>qingmaoshiziguai_png-44.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,302},{131,238}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{131,238}}</string>
                <key>sourceSize</key>
                <string>{137,240}</string>
            </dict>
            <key>qingmaoshiziguai_png-45.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,245},{134,179}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{134,179}}</string>
                <key>sourceSize</key>
                <string>{140,189}</string>
            </dict>
            <key>qingmaoshiziguai_png-46.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,612},{124,43}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{124,43}}</string>
                <key>sourceSize</key>
                <string>{140,45}</string>
            </dict>
            <key>qingmaoshiziguai_png-47.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,245},{45,27}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{45,27}}</string>
                <key>sourceSize</key>
                <string>{77,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_5541.png</string>
            <key>size</key>
            <string>{508,1445}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8e2559501ea5254335d3412799b3fdd$</string>
            <key>textureFileName</key>
            <string>hero_5541.png</string>
        </dict>
    </dict>
</plist>
